name: Chromatic

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  chromatic:
    runs-on: ubuntu-18.04
    # if: ${{ github.event.push || (github.event.pull_request && !github.event.pull_request.draft) }}
    steps:
      - name: Test
        run: |
          echo "Chromatic is running"
          echo "${{ github.event.push }}"
