name: ▶️ CI

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
  release:
    types: [published]

jobs:
  env:
    uses: ./.github/workflows/env.yml
    with:
      tag: ${{ github.event.release.tag_name || github.event.inputs.tag }}
  test:
    runs-on: ubuntu-18.04
    needs: [env]
    steps:
      - run: |
          echo ${{ needs.env.outputs.ref }}
          echo ${{ needs.env.outputs.environment }}
          echo ${{ needs.env.outputs.release_version }}
  zeffo-test:
    needs: [env]
    uses: ./.github/workflows/zeffoTest.yml
    with:
      ref: ${{ needs.env.outputs.ref }}
  embed-test:
    needs: [env]
    uses: ./.github/workflows/embedTest.yml
    with:
      ref: ${{ needs.env.outputs.ref }}
      environment: ${{ needs.env.outputs.environment }}
  zeffo-deploy:
    needs: [env, zeffo-test]
    if: ${{ needs.env.outputs.environment != 'develop' }}
    uses: ./.github/workflows/zeffoDeploy.yml
    with:
      ref: ${{ needs.env.outputs.ref }}
      environment: ${{ needs.env.outputs.environment }}
      release_version: ${{  needs.env.outputs.release_version }}
  embed-deploy:
    needs: [env, embed-test]
    if: ${{ needs.env.outputs.environment != 'develop' }}
    uses: ./.github/workflows/embedDeploy.yml
    with:
      ref: ${{ needs.env.outputs.ref }}
      environment: ${{ needs.env.outputs.environment }}
      release_version: ${{  needs.env.outputs.release_version }}
