name: Deploy a build

on:
  push:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - run: echo ${{ github.ref }}
      - run: echo ${{ github.event }}
      # - uses: actions/checkout@v2
      #   with:
      #     ref: refs/tags/${{ github.event.inputs.tag }}
