name: Embed Build

on:
  workflow_call:
    inputs:
      ref:
        required: true
        type: string
      environment:
        required: true
        type: string
      release_version:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - run: |
          echo ${{ inputs.ref }}
          echo ${{ inputs.environment }}
          echo ${{ inputs.release_version }}
          echo ${{ inputs.release_version }} > output.txt
      - uses: actions/upload-artifact@v2
        with:
          name: built-artifact
          path: output.txt
