name: Hotfix

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string

jobs:
  create_hotfix:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: refs/tags/${{ github.event.inputs.tag }}
      - name: Set variables
        id: vars
        run: |
          NEXT_TAG=${{ github.event.inputs.tag }}-hotfix
          echo "::set-output name=next_tag::${NEXT_TAG}"
      - name: Create release branch
        uses: actions/github-script@v5
        env:
          CURRENT_TAG: ${{ github.event.inputs.tag }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            console.log(context.sha)
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/heads/hotfix/${process.env.CURRENT_TAG}`,
              sha: context.sha
            })
      - name: Create release issue
        if: ${{ success() }}
        uses: actions/github-script@v5
        env:
          NEXT_TAG: ${{ steps.vars.outputs.next_tag }}
          CURRENT_TAG: ${{ github.event.inputs.tag }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: `Release candidate ${process.env.NEXT_TAG}`,
              labels: ['RC'],
              body: `
            ### Release tag: ${process.env.NEXT_TAG}

            - To add fixes:
              1. \`git checkout hotfix/${process.env.CURRENT_TAG}\`
              2. Check in fixes to the release branch.
              3. (If applied) Cherry-pick the fix to \`master\`.
            - To approve the push: Add \`golden\` label and close the issue.
            - To cancel the push: Close the issue directly.
            `,
            })
      - name: Deploy to staging
        run: echo "Deploy to staging"
      - name: Notify slack channel
        run: echo "Notify slack channel"
