name: Sign Off

on:
  issues:
    types: [closed]

jobs:
  sign_off:
    runs-on: ubuntu-latest
    name: Sign Off Release/Hotfix
    steps:
      - name: Sign Off Release/Hotfix
        id: sign_off
        uses: loopsocial/sign-off-action@v1.0.11
        with:
          workflow-token: ${{ secrets.WORKFLOW_TOKEN }}
          slack-webhook-url: 'test'
