name: Tag a commit as release candidate

on:
  issues:
    types: [closed]

jobs:
  tag_commit:
    runs-on: ubuntu-18.04
    if: ${{ contains(github.event.issue.labels.*.name, 'golden') }}
    steps:
      - uses: actions/checkout@v2
      - name: Set variables
        id: vars
        run: |
          TAG_HEADER="### Release tag: "
          BRANCH_HEADER="### Branch: "
          TAG=`echo "${{ github.event.issue.body }}" | grep -m 1 "${TAG_HEADER}" | sed "s/${TAG_HEADER}//"`
          BRANCH=`echo "${{ github.event.issue.body }}" | grep -m 1 "${BRANCH_HEADER}" | sed "s/${BRANCH_HEADER}//"`
          echo "::set-output name=tag::${TAG}"
          echo "::set-output name=branch::${BRANCH}"
      - name: Tag commit
        uses: actions/github-script@v5
        env:
          TAG: ${{steps.vars.outputs.tag}}
          BRANCH: ${{steps.vars.outputs.branch}}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const {TAG, BRANCH} = process.env
            const branch = await github.rest.repos.getBranch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              branch: BRANCH
            })
            const {sha} = branch.data.commit
            await github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: `refs/tags/${TAG}`,
              sha,
            })
